{% extends "base.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <article>
        <h1>{{ article.title }}</h1>

        {% if article.image is not null %}
            <img src="/images/{{ article.image }}" alt="{{ article.image }}" class="img-thumbnail">
        {% endif %}

        <p>{{ article.content|nl2br }}</p>
        <a class="btn btn-light" href="/">Назад</a>
    </article>
{% endblock %}
