{% extends "base.html.twig" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    {% for article in articles %}
        <article class="p-5">
            <h1>{{ article.title }}</h1>
            <p>{{ article.content|slice(0, 200) ~ '...'|nl2br }}</p>
            <a class="btn btn-light" href="/article/{{ article.id }}.html">Подробнее</a>
        </article>
    {% endfor %}
{% endblock %}